*.pyc
*.swp
.coverage
.idea
coverage.xml
*.iml
nosetests.xml
pylint.log
run.py
*.egg-info
build/
.autonose-depends.pickle
dist/
docs/_build/
_ghpages/
mixcoatl.sublime-*
.DS_Store
test.sh
utils/handsfree/clouds/credentials/*
utils/handsfree/clouds/descriptors/*
utils/handsfree/clouds/*
utils/handsfree/users/*
initial.json
